beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
idna==2.10
pip==20.3.3
pycparser==2.20
pyOpenSSL==20.0.1
PySocks==1.7.1
requests==2.25.1
setuptools==52.0.0.post20210125
six==1.15.0
soupsieve==2.2
urllib3==1.26.3
wheel==0.36.2
